H1	 {
	font-size: 1.75rem;
	text-align: center;
}

H2	 {
	font-size: 1.5rem;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
}

H3, H4, H5, H6 {
	font-size: 1.25rem;
	display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}

H2 {
	text-decoration: underline;
}
H3 {
	margin-left: 60px;
}
H4 {
	margin-left: 90px;
}
H5 {
	margin-left: 120px;
}
H6 {
	margin-left: 150px;
}

.ul-container {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 40px;
}

@media (min-width: 1200px) {
	.bd-sidebar {
		-ms-flex: 0 1 320px;
		flex: 0 1 320px;
	}
	.flex-xl-nowrap {
		-ms-flex-wrap: nowrap!important;
		flex-wrap: nowrap!important;
	}
}

@media (min-width: 768px) {
	.bd-sidebar {
		position: -webkit-sticky;
		position: sticky;
		z-index: 1000;
		height: 100vh;
	}
}

.bd-content {
	-ms-flex-order: 1;
	overflow-y: auto;
	order: 1;
}

.bd-content .row {
	margin-right: 0px;
}

.bd-content>h1[id]::before, .bd-content>h2[id]::before, .bd-content>h3[id]::before, .bd-content>h4[id]::before {
	display: block;
	height: 6rem;
	margin-top: -6rem;
	visibility: hidden;
	content: "";
}

.bd-navbar {
	min-height: 4rem;
	background-color: #563d7c;
	box-shadow: 0 0.3rem 0.7rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-sidebar {
	-ms-flex-order: 0;
	order: 0;
	top: 0rem;
	height: calc(100vh - 0rem);
	border-right: 1px solid rgba(0,0,0,.1);
}
